@model amongus.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Pacienti</dt>
        <ul>
            @foreach (var patient in Model.Patients)
            {
                <li>
                    @Html.ActionLink(patient.Name, "Details", "Patients", new { id = patient.Id }, null)

                    @using (Html.BeginForm("RemovePatient", "Doctors", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("doctorId", Model.Id)
                        @Html.Hidden("patientId", patient.Id)
                        <button type="submit" onclick="return confirm('Are you sure you want to remove this patient?');">
                            Remove
                        </button>
                    }
                </li>
            }
        </ul>



        <dd>@Html.ActionLink("Dodadi pacient", "AddPatient", new { id = Model.Id }) |</dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
